:root {
    --text-color: #dddddd;
}

div#top {
    background-image: url("/assets/images/bsck=img.jpg");
    font-family: "Kode Mono", monospace;
    background-color: #111122;
    text-transform: uppercase;
    color: var(--text-color);
    background-size: cover;
    place-items: center;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.6rem;
    position: fixed;
    padding: 25px;
    display: grid;
    height: 100%;
    width: 100%;
    bottom: 0;
}

div#top p {
    transition: 300ms;
}

div#top span {
    width: 15px;
    height: 5px;
    margin-left: 4px;
    transform: translateY(5px);
    border-radius: 20px;
    display: inline-block;
    background-color: var(--text-color);
    animation: blinker 1s ease-in-out 0s infinite;
}

@keyframes blinker {
    0%,
    100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

main.hidden {
    clip-path: circle(0% at 50% 60%);
    display: none;
}
