:root {
    --color-one-bg: #111122;
    --color-one-fg: #f5f5f5;
    --body-color: #111122;
    --background-color: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Enriqueta", serif;
    margin: 0;
    background-color: #f5f5f5;
    background-attachment: fixed;
    background-size: 100% 140%;
}

main {
    background-image: url("../assets/images/large-wall.jpg");
}

@media screen and (max-width: 760px) {
    main {
        background-size: 100% 100%;
        background-image: url("../assets/images/small-wall.jpg");
    }
}
main section.full-page {
    display: grid;
    height: 100dvh;
    padding: 40px;
}

section#introduction {
    grid-template-columns: 10% repeat(4, 18%) 10%;
    grid-template-rows: 30% 30% 30% 10%;
    column-gap: 30px;
    padding: 0;
    padding-top: 60px;
}

section#introduction > div {
    border-radius: 10px;
    box-shadow: 0px 3px 5px #323233;
    transition: 300ms;
}

section#introduction > div:hover {
    transition: 300ms;
    transform: scale(1.03);
}

section#introduction div#image {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 3 / 3;
    background-image: url("../assets/images/me.jpg");
    background-size: 100% 150%;
    background-position-y: 45%;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(100%);
    opacity: 0;
    animation: riseAnimation 800ms ease-in-out forwards;
    animation-delay: 0.5s;
}

p.image-caption {
    background-image: linear-gradient(to top, #111122 60%, transparent);
    border-radius: inherit;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
    color: #f5f5f5;
}

section#introduction div#opening {
    width: 100%;
    height: 100%;
    grid-area: 2 / 3 / 4 / 5;
    background-color: white;
    animation: riseAnimation 800ms ease-in-out forwards;
    animation-delay: 0.8s;
    transform: translateY(100%);
    opacity: 0;
}

section#introduction div#something-interesting {
    width: 100%;
    height: 100%;
    grid-area: 1 / 5 / 4 / 6;
    background-color: white;
    animation: riseAnimation 800ms ease-in-out forwards;
    animation-delay: 1.1s;
    transform: translateY(100%);
    opacity: 0;
}

@keyframes riseAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
